:root {
  --BACKGROUND-COLOR: #263d42;
  --HEADER-FOOTER-BACKGROUND-COLOR: #1b2c30;
  --COLOR: #ccdbdc;
  --TAB-BUTTON-BACKGROUND-COLOR: #80ced7;
  --TAB-BUTTON-BACKGROUND-COLOR-HOVERED: #80ced7ce;
  --SUBMIT-BUTTON: #63c7b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--BACKGROUND-COLOR);
  color: var(--COLOR);
}
